# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore markdown files
notes.md 
requirements.md
checklist.md
add_paths.py
project-structure.md
example-payload.json
generate-project-structure.ts


# Ignore the favicon folder and its subfolders and sub files
favicon/
/favicon

# Ignore tests folder and its content
/tests/*
/tests
tests/

# ignore the public/images folder and its content
/public/images/*
/public/images
public/images/